{
	"plugins": [
		[
			"transform-runtime", {
				"polyfill": true,
				"regenerator": true
			}
		],
		"transform-object-rest-spread",
		"pipe-composition"
	],
	"presets": [
		"es2015",
		"stage-3"
	]
}
